<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }} — George Sovetov's blog</title>
		<meta name="author" content="George Sovetov">
		<meta name="description" content="Blog on various aspects of software engineering. {{ page.description }}">
		<meta name="keywords" content="software engineering, {{ page.keywords }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			nav > ul { list-style-type: none; margin: 0; padding: 0; }
			nav > ul > li { display: inline; }
			nav > ul > li:after { content: " | "; }
			nav > ul > li:last-child:after { content: ""; }
		</style>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="/">George Sovetov's blog on software engineering</a></li>
					<li><a href="/">Home</a></li>
				</ul>
			</nav>
		</header>
		<main>
			{{ content }}
		</main>
		<footer>
			&copy; 2017 George Sovetov 
		</footer>
	</body>
</html>
