<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<title>George Sovetov's blog</title>
		<meta name="author" content="George Sovetov">
		<meta name="description" content="Blog on various aspects of software engineering">
		<meta name="keywords" content="{{ page.description }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<header>
			<a href="/">George Sovetov's blog on software engineering</a>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
				</ul>
			</nav>
		</header>
		<main>
			{{ content }}
		</main>
		<footer>
			&copy; 2017 George Sovetov 
		</footer>
	</body>
</html>
